<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="row-8">
    <H3 class="col-6 offset-3 text-center mt-3">Your Bookings </H3>
    <hr class="col-6 offset-3 ">
    <% for(let booking of bookings) { %>
      <div class="card text-center col-6 offset-3 mt-3">
        <div class="card-header">Room Id: <%= booking.room._id %></div>
      <% if(booking.checkedIn) { %>
        <div class="card-header text-success">Successfully Checked In into your Room </div>
      <% } %>
      <div class="card-body">
        <h5 class="card-title mt-2"><%= booking.room.name %></h5>
        <p class="card-text">
          Date : <%= booking.date %> 
        </p>
        <p class="card-text">
          Time Slot : <%= booking.startTime %> - <%= booking.endTime %> (in 24-hr Format)
        </p>
        <hr>

        <% if(!booking.checkedIn) { %>
          <a href="/book/my/edit/<%= booking._id %>/<%= booking.room._id %>" class="btn btn-primary">Edit</a>
        <% } %>

        <form action="http://localhost:8000/book/my/<%= booking._id %>?_method=DELETE" method="post" class="d-inline">
          <button class="btn btn-danger">Cancel</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</body>
